{% for product in collection.products %}
  <div class="ajax-product"
       data-tags="{{ product.tags | join: ',' }}"
       data-url="{{ product.url }}"
       data-title="{{ product.title }}"
       data-image="{{ product.featured_image | image_url: width: 400 }}">
  </div>
{% endfor %}
